footer {
	background-color: #C41818;
	color: #fff;
	font-size: 20px;
	font-weight: bolder;
	text-shadow: 1px 1px 2px #ccc;
	height: 60px;
	width: 100%;
	border-top: 1px solid #ccc;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 0;
}
